/* SellerListStyle.css */

.vendedores-container {
  background-color: #fff; /* Fondo blanco para la lista */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave para darle profundidad */
  margin-left: 20px; /* Espacio a la izquierda del calendario */
  width: 40%; /* Ancho fijo para la lista de vendedores */
  text-align: center; /* Centrar el texto dentro del contenedor */
}

.vendedores-container > * {
  display: inline-block; /* Asegura que los elementos hijos sean inline-block */
  margin: 10px 0; /* Espaciado vertical entre elementos */
}

.vendedores-container h2 {
  margin-bottom: 20px; /* Espacio debajo del título */
  color: #333; /* Color del texto */
  text-align: center; /* Centrar texto */
}

.vendedores-container ul {
  list-style-type: none; /* Remover viñetas de la lista */
  margin: 0;
  padding: 0;
}

.vendedores-container li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #333; /* Color del texto para los elementos de la lista */
}

/* Estilo específico para el círculo de color del vendedor */
.vendedores-container .seller-color {
  display: inline-block;
  width: 15px; /* Tamaño del círculo */
  height: 15px;
  border-radius: 50%; /* Hacerlo redondo */
  margin-right: 10px; /* Espacio entre el círculo y el texto */
  /* No es necesario 'background-color: currentColor;' ya que se establecerá en línea en el JSX */
}
