/* Estilos para centrar y estilizar el calendario */
.main-content {
  display: flex;
  justify-content: center;
}

.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta esto según tus necesidades */
  }
  
  .react-calendar {
    border: none;
    max-width: 90%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif; /* Usa la fuente que prefieras */
  }
  
  /* Estilos para los días del calendario */
  .react-calendar__tile {
    max-height: 100px; /* Ajusta la altura máxima de las celdas */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em; /* Aumenta el tamaño de las fechas */
  }
  
  /* Estilos para el día actual */
  .react-calendar__tile--now {
    background-color: #ff0 !important;
    color: black;
  }
  
  /* Estilos para días con eventos */
  .react-calendar__tile--active,
  .react-calendar__tile--hasActive {
    background-color: #ffd700 !important;
    color: white;
  }
  
  /* Aquí puedes agregar tus clases de colores para vendedores específicos, como ya tienes definido */
  
  /* Ajustes adicionales para botones, cabecera y navegación del calendario */
  .react-calendar__navigation button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: transparent;
    color: #888;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    font-weight: bold;
    color: #444;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }

  /* Clases dinámicas basadas en los colores de los vendedores */
.react-calendar__tile--event-color-FFB6C1 { background-color: #FFB6C1; }
.react-calendar__tile--event-color-FA8072 { background-color: #FA8072; }
.react-calendar__tile--event-color-FFA07A { background-color: #FFA07A; }
.react-calendar__tile--event-color-FFE4B5 { background-color: #FFE4B5; }
.react-calendar__tile--event-color-FFFACD { background-color: #FFFACD; }
.react-calendar__tile--event-color-98FB98 { background-color: #98FB98; }
.react-calendar__tile--event-color-AFEEEE { background-color: #AFEEEE; }
.react-calendar__tile--event-color-FFF71D { background-color: #FFF71D; }
.react-calendar__tile--event-color-F08080 { background-color: #F08080; }
.react-calendar__tile--event-color-F4A460 { background-color: #F4A460; }